# --- Postgres ---
POSTGRES_DB=asset_management
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# --- Spring Boot ---
SPRING_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/asset_management
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

APP_CLIENT_URL=http://localhost:3000
APP_SERVER_URL=http://localhost:8080

APP_SECURITY_JWT_ACCESS_TOKEN_SECRET_KEY=super-secret-key
APP_SECURITY_JWT_ACCESS_TOKEN_EXPIRATION=3600
APP_SECURITY_JWT_REFRESH_TOKEN_SECRET_KEY=super-secret-refresh-key
APP_SECURITY_JWT_REFRESH_TOKEN_EXPIRATION=604800

APP_SMTP_API_KEY=my-smtp-key
APP_SMTP_DOMAIN=mydomain.com
APP_FILE_UPLOAD_DIR=/uploads
